*{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.container{
  width:100%;
  min-height: 100vh;
  background: url(images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
}

.todo-app{
  width:100%;
  min-width:300px;
  background: linear-gradient(90deg, rgba(168,137,176,1) 0%, rgba(30,25,31,1) 100%);
  margin: 10px auto 20px;
  padding: 30px 20px 5px;
  border-radius: 10px;
}

.todo-app h1{
  color:#EB31A4;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #E0BCEB;
  border-radius: 10px;
  padding-left: 15px;
  margin-bottom: 20px;
}

input{
  flex:1;
  background:transparent;
  padding: 10px;
  border: none;
  outline: none;
}

button{
  border: none;
  outline: none;
  padding: 10px;
  background-color: #BA56B5;
  color:#fff;
  cursor: pointer;
  border-radius: 30%;
  font-size: 20px;
}

ul{
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

ul li{
  font-size: 15px;
  padding: 10px 5px 10px 30px;
  user-select: none;
  cursor: pointer;
  position:relative;
}

ul li::before{
  content: '';
  position:absolute;
  height: 20px;
  width:20px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top:8px;
  left:8px;
}

ul li.checked{
  color:gold;
  text-decoration: line-through;
}

ul li.checked::before{
  background-image: url(Images/check.png);
}

ul li span{
  position: absolute;
  right:0;
  top:5px;
  width:40px;
  font-size: 20px;
  color: red;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover{
  background: silver;
}